<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" style="display: flow-root;" *ngIf="currentUser">
    <div class="navbar-nav" style="float: right;">
        <a class="nav-item nav-link" *ngIf="currentUser.usertype === 'admin'" routerLink="/users">المستخدمين <i class="fa fa-users"></i></a>
        <a class="nav-item nav-link "  routerLink="/settings">إعدادات <i class="fa fa-cogs"></i></a>
        <a class="nav-item nav-link "  routerLink="/">الرئيسية <i class="fa fa-home"></i></a>
    </div>
    <div  class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()">تسجيل الخروج<i style="padding-left: 5px;" class="fa fa-window-close"></i></a>
        <a class="nav-item nav-link"  routerLink="/profile">{{currentUser.username}} <i class="fa fa-user-circle"></i></a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
